<div id="leaderboard" fxLayout="column">
  <h2>Opponenuggets</h2>

  <md-menu #sortMenu="mdMenu">
    <button md-menu-item (click)="orderBy = 'nuggets'"> Nuggets </button>
    <button md-menu-item (click)="orderBy = 'score'"> Score </button>
  </md-menu>

  <button md-button [mdMenuTriggerFor]="sortMenu" fxFlexAlign="start">
    <span>Sort by: {{ orderBy }}</span>
  </button>

  <md-list>
    <md-divider></md-divider>
    <player-card *ngFor="let player of leaderboard | async | orderBy: '-' + orderBy; trackBy: playerTrackBy"
      [player]="player"></player-card>
  </md-list>
</div>