<md-grid-list id="command" cols="2" rowHeight="fit">
  <md-grid-tile rowspan="2">
    <md-grid-tile-header>
      <h1 class="overlay-text">Click to get {{ 1 + gameState.user?.click_prod }} nuggets!</h1>
    </md-grid-tile-header>
    <img id="generate_nuggets" src="assets/nugget_bucket.png" (click)="gameState.generateNuggets()" />
    <md-grid-tile-footer>
      <h1 class="overlay-text">{{ gameState.user?.nuggets }}</h1>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile rowspan="2">
    <div id="stats" fxFlex fxFlexAlign="start">
      <h1>Stats</h1>
      <h3>Production</h3>
      <ul>
        <li>Nuggets per click: {{ gameState.user?.nuggetsPerClick }}</li>
        <li>Nuggets per second: {{ gameState.user?.sec_prod }}</li>
      </ul>
      <h3>Offense</h3>
      <ul>
        <li>Base attack per click: {{ 1 + gameState.user?.attack }}</li>
        <li>Multiplier: {{ 1 + gameState.user?.rel_attack }}</li>
        <li>Total attack per click: {{ gameState.user?.damagePerClick }}</li>
        <li>Percent of damage stolen per click: {{ gameState.user?.steal }}</li>
      </ul>
      <h3>Defense</h3>
      <ul>
        <li>Base defense: {{ gameState.user?.abs_defense }}</li>
        <li>Percent defense: {{ gameState.user?.rel_defense }}</li>
      </ul>
      <h3>Support</h3>
      <ul>
        <li>Nuggets per click (them): {{ gameState.user?.helpPerClick }}</li>
        <li>Nuggets per click (you): {{ gameState.user?.selfHelpPerClick }}</li>
      </ul>

      <h1>How does damage work?</h1>
      <p>total attack = base attack * multiplier</p>
      <p>damage = total attack - base defense - total attack * percent defense</p>
    </div>
  </md-grid-tile>
</md-grid-list>