:host, #command {
    display: flex;
    flex: 1;
}

.overlay-text {
	text-align: center !important;
	font-size: 2em !important;
}

#generate_nuggets {
	cursor: pointer;
	transition: all .2s ease-in-out;
}

#generate_nuggets:hover {
	transform: scale(1.05);
}

#generate_nuggets:active {
	transform: scale(0.95);
}

#stats {
	padding: 12px;
}