<div id="nugget_place" fxFlex>
  <div class="overlay">
    <h1 class="overlay-text">Click for {{ user?.nuggetsPerClick }} nugget{{ user?.nuggetsPerClick > 1 ? 's' : '' }}!</h1>
  </div>
  <div id="generate_nuggets" (click)="bucketClick()" fxFill fxLayout="column" fxLayoutAlign="center center">
    <canvas #canvas id="canvas"></canvas>
    <img id="bucket" src="assets/nugget_bucket.png" />
  </div>
  <div class="overlay overlay-bottom">
    <h1 class="overlay-text">{{ user?.nuggets }} nugget{{ user?.nuggets === 1 ? '' : 's' }}</h1>
  </div>
</div>

<div id="stats" fxFlex fxFlexAlign="start">
  <h1>Stats</h1>
  <h3>Production</h3>
  <ul>
    <li>Nuggets per click: {{ user?.nuggetsPerClick }}</li>
    <li>Nuggets per second: {{ user?.nuggetsPerSecond }}</li>
  </ul>
  <h3>Offense</h3>
  <ul>
    <li>Base attack per click: {{ 1 + user?.attack }}</li>
    <li>Multiplier: {{ 1 + user?.rel_attack }}</li>
    <li>Total attack per click: {{ user?.damagePerClick }}</li>
    <li>Percent of damage stolen per click: {{ user?.steal }}</li>
  </ul>
  <h3>Defense</h3>
  <ul>
    <li>Base defense: {{ user?.abs_defense }}</li>
    <li>Percent defense: {{ user?.rel_defense }}</li>
  </ul>
  <h3>Support</h3>
  <ul>
    <li>Nuggets per click (them): {{ user?.helpPerClick }}</li>
    <li>Nuggets per click (you): {{ user?.selfHelpPerClick }}</li>
  </ul>

  <h2>How does damage work?</h2>
  <p>total attack = base attack * multiplier</p>
  <p>damage = total attack - base defense - total attack * percent defense</p>

  <h2>What is the score for?</h2>
  <p>The winner is whoever has the highest score at the end.</p>
  <p>score = nuggets + total spent on upgrades / 2</p>
  <p>Thus, buying upgrades decreases your score, but locks it in</p>
</div>