md-list-item {
    transition: background-color 200ms;
}

.attacking {
    background-color: rgba(230, 0, 38, 0.8);
}

.helping {
    background-color: rgba(157, 219, 60, 0.8);
}

.player-image {
    background-size: cover;
}

.mat-card {
    padding: 12px;
}

.mat-card-subtitle {
    margin: 4px 0 0 0;
}

.mat-line {
    max-width: 200px;
}

button {
    margin-left: 8px;
}