<md-list-item [ngClass]="statusClass()">
    <img md-list-avatar class="player-image" src="{{ player.photo || '' }}" />
    <h3 md-line>{{ player.name }}</h3>
    <span md-line>{{ player.title }}</span>
    <span md-line>Nuggets: {{ player.nuggets }}</span>
    <span md-line>Score: {{ player.score }}</span>
    <button #help md-mini-fab (click)="gameState.help(player)" mdTooltip="Help generate nuggets" mdTooltipPosition="above">
        <md-icon fontIcon="game-icon-heart-plus"></md-icon>
    </button>
    <button #attack md-mini-fab (click)="gameState.attack(player)" mdTooltip="Attack to reduce nuggets!" mdTooltipPosition="above">
        <md-icon fontIcon="game-icon-crossed-swords"></md-icon>
    </button>
</md-list-item>
<md-divider></md-divider>