<md-list-item>
    <img md-list-avatar class="player-image" src="{{ player.photo || '' }}" />
    <h3 md-line>{{ player.name }}</h3>
    <span md-line>{{ player.title }}</span>
    <span md-line>Nuggets: {{ player.nuggets }}</span>
    <span md-line>Score: {{ player.nuggets }}</span>
    <button #help id="help" md-mini-fab (click)="helpPlayer()"><md-icon fontIcon="game-icon-heart-plus"></md-icon></button>
    <button #attack md-mini-fab (click)="attackPlayer()"><md-icon fontIcon="game-icon-crossed-swords"></md-icon></button>
</md-list-item>
<md-divider></md-divider>