<div id="upgrade-container" fxLayout="row" fxFlex>
  <div class="upgrade-col" fxFlex *ngFor="let type of (gameState.gameParamsRef | async)?.upgradeTypes">
    <h1>{{ type | ucfirst }}</h1>
    <md-card *ngFor="let upgrade of gameState.upgradesAsync | async | filterBy: ['type']: type; trackBy: upgradeTrackBy">
      <md-card-title>{{ upgrade.name }}</md-card-title>
      <md-card-subtitle>Owned: {{ user?.upgradeCount(upgrade) }}{{ upgrade.max > 0 ? ', max: ' + upgrade.max : ''}}</md-card-subtitle>
      <img class="center-img" [src]="upgrade.picture">
      <md-card-content>
        <p>{{ upgrade.description }}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [disabled]="!user?.canBuy(upgrade)" (click)="gameState.buyUpgrade(upgrade)">PURCHASE: {{ user?.upgradeCost(upgrade) }} NUGGETS</button>
      </md-card-actions>
    </md-card>
  </div>
</div>