<div id="home-container" fxLayout="column">
	<md-toolbar color="primary">
		<span>BadApp</span>
		<div fxFlex="1 1 auto"></div>
		<button md-button (click)="signOut()">Sign out</button>
	</md-toolbar>

	<div fxFill fxLayout="row">
		<div class="side-panel" id="leaderboard">
			<h2>Opponenuggets</h2>
			<md-list>
				<md-divider></md-divider>
				<player-card *ngFor="let player of leaderboard | async | reverse; trackBy: playerTrackBy" [player]="player" [canAttack]="user?.id != player.id"
				 (onAttack)="attack($event)"></player-card>
			</md-list>
		</div>

		<div class="half-center" fxFlex="1 1 auto">
			<div class="text-center">
				<h1>{{ user?.nuggets }}</h1>
				<button md-raised-button (click)="generateNuggetsClick()">+1</button>
			</div>
		</div>

		<div class="side-panel" id="upgrades">
			<h2>Upgrades</h2>
			<md-list>
				<md-divider></md-divider>
			</md-list>
		</div>
	</div>
</div>