#home-container {
	position: relative;
	height: 100vh;
}

.half-center {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#nugget_count {
	text-align: center;
	font-size: 2em;
}

#generate_nuggets {
	cursor: pointer;
	transition: all .2s ease-in-out;
}

#generate_nuggets:hover {
	transform: scale(1.05);
}

#generate_nuggets:active {
	transform: scale(0.95);
}

#upgrades {
	box-shadow: -3px 0 6px rgba(0,0,0,.24);
}

.side-panel {
	min-width: 300px;
}

.side-panel > h2 {
	margin-left: 12px;
}