<div id="home-container" fxLayout="column">
	<md-toolbar color="primary">
		<span>BadApp</span>
		<div fxFlex="1 1 auto"></div>
		<button md-button (click)="signOut()">Sign out</button>
	</md-toolbar>

	<div fxLayout="row" fxFlex>
		<leaderboard-panel></leaderboard-panel>

		<div id="tab-container" fxLayout="column" fxFlex>
			<nav md-tab-nav-bar>
				<a md-tab-link *ngFor="let tabLink of tabLinks; let i = index" [routerLink]="tabLink.link" routerLinkActive
				 #rla="routerLinkActive" [active]="rla.isActive">
      {{tabLink.label}}
    </a>
			</nav>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>